venv/
venv~/
__pycache__/
.pytest_cache/
logs/
data/*.tmp
data/*.backup
output/camera/*
!output/camera/.gitkeep
application/
data/**/*.json
data/**/*.jsonl
data/**/*.backup
data/imports/
data/databases/
data/data_lake/
data_lake/**/*.jsonl
data_lake/**/*.parquet
*.save
*.save.*
